:root {
    --verde: #53be71;
    --amarillo: #fff414;
    --oscuro: #383838;
    --claro: #e7e7e7;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/*border para colocar-BORRAR DESPUËS*/
.borde {
    border: 2px solid red;
}

/*clases propias*/
.body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    width: 100vw;
    height: 5rem;
    display: flex;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid aqua;
    padding: 0 6rem
}

.header__container--l {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__container--r {
    width: 30%;
    display: flex;
    align-items: flex-end;
}

.header__logo {
    height: 4rem;
}

.header__nav {
    position: relative;


    display: flex;
    justify-content: space-between;
}

.searchForm {
    display: flex;
    justify-self: flex-end;
    border: 2px solid aqua;
}

.header__nav a,
.header__nav span,
.searchForm__button {
    margin: 0 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--claro);
}

.ddButton i {
    margin-left: 0.5rem;
}

.ddList {
    display: none;
    position: absolute;
    top: 2rem;
    right: 0;
    background-color: var(--claro);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: .75rem 1rem;
    z-index: 1;
    flex-direction: column;
    align-items: flex-end;
}

.ddButton,
.ddList button,
.searchForm__button,
.searchForm__input {
    border: none;
    outline: none;
    background: none;
}

.searchForm__button {
    border: 1px solid var(--claro);
    border-radius: 5px;
    padding: 0 2rem;
    transition: all ease 0.5s
}

.searchForm__button:hover {
    background-color: var(--verde);
    color: var(--oscuro);
    border-color: var(--verde)
}

.searchForm__button:active {
    transform: scale(0.9);
}


.ddList li {
    padding: 0.5rem 0;
}

/* .dd__container {
    border: blue;

} */


.searchForm__input {
    background-color: var(--claro);
    height: 2rem;
    border-radius: 5px;
    transition: all ease 0.5s;
}

.searchForm__input:focus {
    background-color: var(--verde);
    color: #000;

}

/*CARRUSEL*/




/*Modificaciones sobre clases de bootstrap*/